.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: #E0E4EE ;
  color: #353755;
}
#navbar{
background-color: #5BD3C7 ;
color: #353755;
}
#logo{
  color: #353755;
}
a:link, a:visited{
  text-decoration: none;
}
#btn-navbar{
color: #353755;
box-shadow: #0B0C15;
}
#footer{
background-color: #5BD3C7;
}
#cardfooter{
  background: #E0E4EE;
  color: #353755;
}
#btn-footer{
  background-color: #353755;
  color: #FFFFFF;
}

/* css footer*/
.list-group {
 padding-top: 2.2%;
}

#rrss1{
  display:flex;
  justify-content: center;
  padding-top: none;
  background-color: #E0E4EE;
}
.fcc-btn {
  color: #353755;
}
#rrss {
  
  list-style: none;
  width: 20%;
}

#footer{
  padding: 3%;
  display: flex;
}

#cardfooter{
  border-color: transparent;
}
#contact-info{
  border-color: transparent;
  background-color: #E0E4EE;
}
/*css footer*/



/*CSS acordeon*/

#btn-collapsed{
  color: #353755;
  background-color: #E8EAF1;
}
#acordionbtn2{
  background-color: #E8EAF1;
  color: #353755;
}
#accordion{
  background-color: #E8EAF1;
}
#acordeon1{
  background-color: #E8EAF1;
  color: #353755;
}
